@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>A simple app to track games played using the Giant Bomb API. Note: release dates are strange! If a date isn't the year you were expecting, selecting N under Keep Date may show more options.</p>
