@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>A simple site that uses the Giant Bomb API to track games played. If a release date or platform is missing, there's a chance that no one has added it to the wiki yet.</p>
