@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<GameTracker2.Models.Game>

@if (Model != null)
{
    foreach (var g in Model)
    {
        <p>g.Name</p>

    }
}
